<div class="pt-3 pb-3 mt-4 text-center bg-dark text-white" style="position:fixed;
   left:0px;
   bottom:0px;
   margin-top: -200px;
   width:100%;">
Все права защищены © {{currentYear}} Урюпинский Зоопарк 
</div>
