<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
  <div class="container-fluid">
    <a class="navbar-brand" href="/">Урюпинский зоопарк</a>
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav me-auto mb-2 mb-lg-0">

        <li class="nav-item">
          <a class="nav-link active" aria-current="page" href="/animals">Животные</a>
        </li>
        <li class="nav-item">
          <a class="nav-link active" aria-current="page" href="/info">Информация</a>
        </li>


        <li class="nav-item dropdown">
          <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-bs-toggle="dropdown"
            aria-expanded="false">
            Тарифы
          </a>
          <ul class="dropdown-menu" aria-labelledby="navbarDropdown" id="dropdown_id">
            
            <li><button class="dropdown-item" id="weekday_id">Будние дни</button></li>
            <li><a class="dropdown-item" id="weekend_id">Выходные дни</a></li>
          </ul>
        </li>

        <li class="nav-item dropdown">
          <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-bs-toggle="dropdown"
            aria-expanded="false">
            Admin
          </a>
          <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
            <li><a class="dropdown-item" href="/admin/animals">Изменение животных</a></li>
            <li><a class="dropdown-item" href="/admin/tariff">Изменение тарифов</a></li>
          </ul>

        </li>

      </ul>

    </div>
  </div>
</nav>
