<div class="container text-center">

<div class="animate__animated animate__headShake">
  <span class="dropdown-item-text bg-dark text-white mt-2">Навигация по странице</span>
  <div class="d-flex">
    <a class="dropdown-item" href="#rules">Правила зоопарка</a>
    <a class="dropdown-item" href="#covid">COVID-19</a>
    <a class="dropdown-item" href="#lgot">Льготы</a>
    <a class="dropdown-item" href="#location">Где мы находися?</a>
  </div>
</div>


  <div class="row ">
    <p><a name="rules"></a></p>
    <h2>Правила зоопарка</h2>
    <div class="col">
      <li>Иногда вам кажется, что животные попрошайничают. На самом деле — это их способ развлечения и установления контакта с вами. Пожалуйста, не кормите животных. От этого они болеют. Мы заботимся о разнообразном питании наших зверей. В их стандартных рацион входят и их любимые лакомства.</li>
      <li>Не заходите в зоны строительства — там, действительно, нет ничего интересного. Это опасно!</li>
      <li>Сидеть и стоять на барьере очень неудобно. Но главное — опасно. Поэтому, пожалуйста, не сажайте ваших детей на барьеры и ограды. Не прислоняйтесь к решеткам и стеклам.</li>
    </div>
    <div class="col">
      <li>Не перелезайте через барьеры и не заходите за ограждения, не заходите в вольеры и служебные помещения. Это опасно! Помните, что в зоопарке живут дикие животные!</li>
      <li>Обращаем ваше внимание, что согласно правилам зоопарка НЕЛЬЗЯ приносить с собой любой подвижный (передвижной) транспорт, а также малые летающие аппараты для использования в личных целях.</li>
      <li>Урюпинский зоопарк не предназначен для использования: колесных гаждетов (гироскутеров, сигвеев, моноколес), а также самокатов, скейтбордов, роликовых коньков и тем более велосипедов,.</li>
    </div>
  </div>
   <div class="row text-center mt-2">
     За нарушение правил посещения Урюпинского зоопарка Посетитель может быть не допущен на его территорию либо удален с территории зоопарка
      ВАЖНАЯ ИНФОРМАЦИЯ (для посетителей льготной категории)
      Обращаем внимание, что для подтверждения права на льготное (бесплатное) посещение зоопарка наряду с документом, подтверждающим льготу, необходимо предъявить документ с фотографией, удостоверяющий личность, (паспорт), а также, во избежание возникновения спорных ситуаций, учащимся старших классов средней школы необходимо иметь при себе паспорт для подтверждения возраста и права на льготное (бесплатное) посещение зоопарка.
      Приносим извинения за доставленные неудобства.
      Надеемся на ваше понимание!
   </div>

   <p><a name="covid"></a></p>
   <div class="covid">
    <h2>
      Временные правила посещения Урюпинского зоопарка в период неблагоприятной эпидемической обстановки в связи с распространением ковид-19.
    </h2>
    <p>
    В целях недопущения распространения на территории зоопарка новой коронавирусной инфекции (COVID-19), с целью защиты посетителей от угрозы возникновения чрезвычайной ситуации, соблюдения обязательных санитарно-противоэпидемических (профилактических) требований законодательства Российской Федерации, в соответствии с законодательством Российской Федерации по обеспечению санитарно-эпидемиологического благополучия населения на территории Российской Федерации в связи с распространением новой коронавирусной инфекции (COVID-19), вплоть до отмены на территории Урюпинской области ограничений, связанных с распространением новой коронавирусной инфекции (COVID-19), посетителям Зоопарка необходимо соблюдать следующие правила поведения в период нахождения на территории Зоопарка:
    </p>
      <ul>
        <li>
      Обеспечить возможность контроля (измерения) температуры тела сотрудниками Зоопарка с применением автоматических измерительных приборов. В случае обнаружения визуальных либо подтвержденных признаков респираторного заболевания (повышенная температура тела, насморк, кашель), администрация Зоопарка оставляет за собой право прекратить посещение Зоопарка посетителем.    
        </li>
        <li>
      Не допускается посещение Зоопарка посетителями при температуре тела выше 370С и (или) при наличии симптомов респираторных заболеваний (кашель, насморк, слабость, т.д.)
        </li>
        <li>
      При входе в Зоопарк предъявлять для проверки входной билет (электронный либо приобретенный на входной кассе, в зависимости от требований к продаже билетов, установленных для Зоопарка);
        </li>
        <li>
      При входе на территорию Зоопарка необходимо соблюдать масочный режим, установленный в соответствии с постановлениями Губернатора Урюпинской области от 31.03.2020 № 48 «Об ограничении доступа людей и транспортных средств», от 27.03.2020 № 43 «О принятии дополнительных мер по защите населения и территории Урюпинской области от чрезвычайной ситуации», постановлением мэрии города Урюпинска от 31.03.2020 № 1095 «Об ограничении доступа людей и транспортных средств на территории города Урюпинск.
        </li>
        <li>
      Соблюдать дистанцию до других граждан не менее 1,5 метра (социальное дистанцирование) с соблюдением специальной разметки в местах массового посещения на территории Зоопарка.
        </li>
        <li>
      Воздерживаться от прикосновения к контактным поверхностям (любые виды ограждений, поручни, бордюры, перила, скамейки, скульптуры, т.д.); после контактирования с поверхностями рекомендуется обработать контактные места кожными антисептиками (санитайзерами), размещенными в общедоступных местах на территории Зоопарка.
        </li>
        <li>
      Избегать мест массового скопления людей на территории Зоопарка.
        </li>
      </ul>
   </div>
  <p><a name="lgot"></a></p>
  <div class="lgot mt-4">
    <h2>Льготы</h2>
    <div class="row bg-light">
      <div class="col border border-dark">Категории лиц</div>
      <div class="col border border-dark">Стоимость</div>
    </div>
    <div class="row">
      <div class="col border border-dark">
        <p>Участники и ветераны Великой Отечественной Войны (удостоверение ветерана Великой Отечественной войны)</p>
      </div>
      <div class="col border border-dark">Бесплатно!</div>
    </div>
    <div class="row bg-light">
      <div class="col border border-dark">
        <p> Дети до 7 лет (требуется: свидетельство о рождении или паспорт родителей)	</p>
      </div>
      <div class="col border border-dark">Бесплатно!</div>
    </div>
    <div class="row">
      <div class="col border border-dark">
        <p>Дети из многодетных семей до 16 лет включительно либо до окончания среднего общеобразовательного учреждения (с сопровождающим - один из родителей)(требуется: паспорт родителя, справка или удостоверение о праве на льготы, свидетельства о рождении детей)</p>
      </div>
      <div class="col border border-dark">Бесплатно!</div>
    </div>
    <div class="row bg-light">
      <div class="col border border-dark">
        <p>Дети - инвалиды (до 18 лет) с сопровождающим - один из родителей (требуется: соответствующее удостоверение, справка МСЭ)</p>
      </div>
      <div class="col border border-dark">Бесплатно!</div>
    </div>
    <div class="row">
      <div class="col border border-dark">
        <p>
          Дети-сироты и дети, оставшиеся без попечения родителей (до 18 лет) (соответствующее удостоверение)
        </p>
      </div>
      <div class="col border border-dark">Бесплатно!</div>
    </div>
   </div>

   <p><a name="location"></a></p>
    <h2>Как к нам попасть?</h2>
    <p>Ближайшая к зоопарку Урюпинска автовокзал "Урюпинск". При выходе из вокзала метро повернуть налево и идти 5–10 минут по проспекту Ленина к парку до входа. Также можно доехать на вертолете.</p>
</div>
  <script type="text/javascript" charset="utf-8" async src="https://api-maps.yandex.ru/services/constructor/1.0/js/?um=constructor%3A90156d6742323cf4da35b25b27273d000386cc8a0af18e352aa8c29bca623de5&amp;width=100%&amp;height=400&amp;lang=ru_RU&amp;scroll=true"></script>