<div class="row row-cols-1 row-cols-md-2 g-4">
  {{#each animals}}
  <div class="col">
    <div class="card">
      <img src="{{this.photo}}" class="card-img-top" style="max-height:30vh; max-width:30vh" alt="photo{{this.id}}">
      <div class="card-body">
        <h5 class="card-title">{{this.name}}</h5>
        <p class="card-text">{{this.description}}</p>
      </div>
    </div>
  </div>
  {{/each}}
</div>
