<div class="row row-cols-1 row-cols-md-3 g-4">
  {{#each animals}}
  <div class="col">
    <div class="card h-100">
      <img src="{{imgLink}}" class="card-img-top" alt="...">
      <div class="card-body">
        <h5 class="card-title">{{animals.name}}</h5>
        <p class="card-text">{{animals.description}}</p>
      </div>
    </div>
  </div>
  {{/each}}
</div>
