<script defer src=""></script>
<h2>PAGSESE</h2>
<div style="width: 100%; display: flex; justify-content: center">
  <div style="z-index: 100; position: fixed" class="{{vision}}">
      <div class="card" style="width: 18rem;">
      <img src="https://wallpapershome.ru/images/pages/pic_h/4575.jpg" class="card-img-top" alt="...">
      <div class="card-body">
      <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
      <img src="/imgs/img_2.svg">
      </div>
  </div>
</div>
</div>
<h2>HELLO</h2>
