<div class="container d-flex justify-content-center align-items-center">
<div class="mt-4">
  <div class="card animate__animated animate__zoomIn" style="width: 36rem;">
    <h2 class="card-img-top" alt="...">{{head}}</h2>
    <div class="card-body">
      <h3>Описание:</h3>
      <p class="card-text">{{tariff.description}}</p>
      <h4>Цена: {{tariff.price}} руб.</h4>
      <br>
    </div>
  </div>
</div>
</div>